@import "../../sass/utils/variables.scss";
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 30%;
  height: auto;
  margin: auto;
  background: linear-gradient(
    125deg,
    rgba(77, 81, 152, 1) 0%,
    rgba(129, 183, 210, 1) 6%,
    rgba(218, 242, 220, 1) 50%,
    rgba(129, 183, 210, 1) 94%,
    rgba(77, 81, 152, 1) 100%
  );
  border-radius: 25px;
  padding: 25px;
  select {
    background-color: $darkBlue;
  }
  #department,
  #state {
    color: $lightPink;
  }
  @media screen and (max-width: 600px) {
    width: 80%;
  }

  label {
    width: max-content;
    margin-right: 100%;
    transform: translateX(50%);
    color: $darkBlue;
    font-size: 18px;
    font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  .input {
    width: 99%;
    height: 4vh;
    margin-top: 10px;
    margin-bottom: 8px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: $lightBlue;
    font-size: 18px;
    font-weight: 500;
    &:focus {
      border: 2px solid $lightPink;
      border-radius: 5px;
    }
  }
  .address {
    border: 1px solid $darkBlue;
    width: 80%;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 20px;
    z-index: 1;
    legend {
      color: $darkBlue;
    }
    label {
      transform: translate(0);
    }
  }
  .saveBtn {
    margin: 30px auto 0px;
    border-radius: 50px;
    width: 150px;
    height: 40px;
    box-shadow: 2px 2px 8px $lightPink;
    background: linear-gradient(
      144deg,
      $lightPink 0%,
      $lightGreen 30%,
      $lightBlue 99%
    );
    color: $darkBlue;
    font-size: 18px;
    border: none;

    &:hover {
      box-shadow: 2px 2px 2px $darkBlue;
      cursor: pointer;
      font-weight: 700;
      background-color: rgb(206, 206, 206);
      border-radius: 50px;
      background: linear-gradient(
        144deg,
        $lightPink 0%,
        $lightGreen 30%,
        $darkBlue 120%
      );
      color: $darkBlue;
    }
  }
}
