// color variables

$darkBlue: #4d5198;
$lightBlue: #81b7d2;
$lightGreen: #daf2dc;
$lightPink: #ffcce7;

// border for dev

$borderRed: 1px solid red;
$borederBlue: 1px solid blue;
$borderGreen: 1px solid green;
