@import "../../sass/utils/variables.scss";

.select {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  width: 100%;

  div:nth-child(1) {
    background: $darkBlue;
    color: $lightPink;
  }

  div:nth-child(3) {
    background: $darkBlue;
  }
  svg {
    color: $lightPink;
  }
  span {
    background: $lightPink;
  }
}
