@import "../../sass/utils/variables.scss";

footer {
  background-color: $darkBlue;
  height: 10vh;
  width: 100%;
  text-align: center;
  line-height: 10vh;
  font-size: 24px;
  font-size: 36px;
  color: $lightGreen;
}
