@import "../../sass/utils/variables.scss";
.tableTop {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin-bottom: 20px;
  color: $darkBlue;
  @media screen and (max-width: 900px) {
    width: 100%;
    .selectPageSize {
      span {
        font-size: 15px;
      }
      select {
        width: auto;
      }
    }
  }
  span {
    font-size: 20px;
  }
  select {
    width: 4.5vw;
    height: 2.5vh;
    margin: 0px 5px;
    background-color: $lightGreen;
    border: none;
    border-radius: 5px;
    color: $darkBlue;
    option {
      color: $darkBlue;
      background-color: $lightGreen;
    }
  }
  .search {
    @media screen and(max-width :900px) {
      font-size: 15px;
    }
    input {
      border: none;
      border-radius: 5px;
      color: $lightBlue;
      font-weight: bold;
      width: 9vw;
      height: 2vh;
      &:focus {
        outline: 2px solid $lightPink;
      }
      @media screen and (max-width: 900px) {
        width: 20vw;
        font-size: 8px;
        &:focus {
          outline: 0.1px solid $lightPink;
        }
      }
    }
  }
}

.tableContainer {
  border-bottom: 1px solid $darkBlue;
  width: 100%;
  max-width: 900px;
  border-collapse: collapse;
  color: $darkBlue;
  @media screen and (max-width: 900px) {
    font-size: 8px;
  }
  thead {
    tr {
      border-bottom: 1px solid $darkBlue;
      height: 4vh;
    }
  }
  th {
    min-width: max-content;
    padding: 0px 10px;
    @media screen and (max-width: 900px) {
      min-width: auto;
    }
  }

  tr:nth-child(odd) {
    background-color: $lightGreen;
  }

  tbody {
    td {
      height: 4vh;
      padding-left: 10px;
    }
    .noMatch {
      display: inline-block;
      width: max-content;
      font-size: 24px;
      text-align: center;
      margin: 5% 140%;
    }
  }
  .column {
    text-align: center;
  }
}

.tabFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 18px;
  width: 100%;
  max-width: 900px;
  color: $darkBlue;
  @media screen and(max-width:900px) {
    font-size: 15px;
    margin-bottom: 15px;
  }

  .pageBtns {
    display: flex;

    #next {
      width: 50px;
      background-color: transparent;
      border: none;
      font-size: 16px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and(max-width:900px) {
        font-size: 15px;
      }
    }
    #previous {
      width: 50px;
      background-color: transparent;
      border: none;
      font-size: 16px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and(max-width:900px) {
        font-size: 15px;
      }
    }
  }
  .pageNumber {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: linear-gradient(
      180deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(255, 255, 255, 0) 0%,
      rgba(201, 201, 201, 1) 100%
    );
    margin-left: 20px;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 3px;
    @media screen and(max-width:900px) {
      font-size: 10px;
      width: 15px;
      height: 15px;
    }
  }
}
